body{
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', arial;
    background-color: #1F2937;
}
li{
    list-style-type:none;
    padding-right:5%;
}
button{
    background-color:#3882F6; 
    border-radius:5px;
    color:#F9FAF8;
    font-family:"roboto";
    padding: 7px 14px;
}

/*CSS for the first part of section one*/
.section-one{
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    color:#F9FAF8;
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 5%;
}
.header{
    display:flex;
    align-content: top;
}
.top-logo{
    display:flex;    
    flex-grow: 1;
    justify-content: left;
    size:24px;
    font-weight: bold;
}
.top-links{
    display:flex;
    justify-content: right;
    flex-grow: 1;
}

.top-links a{
    text-decoration: none;
    color:rgb(16, 202, 202)
}
/*CSS for the second part of section one*/

.top-title{
    display:flex;
}
.title-sign{
    display:flex;    
    flex-grow: 1;
    flex-direction: column;
    align-self: left;
    align-items:flex-start;
    flex-basis:content;
}
.top-photo{
    display:flex;    
    flex-grow: 1;
    align-items: right;
    justify-content: center;
    flex-basis: 0;
    border: 5px solid #F9FAF8;
    border-radius: 10px;
}

/*CSS for part 2*/

.section-two {
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
}

.two-header {
    padding: 1%;
    font-size: 36px;
    font-weight: bolder;
}

.image-subtext {
    display:flex;
}

.image-box {
    display:flex;
    flex-direction: column;
    padding:2%;
    flex-basis: 0;
}

.image-two {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

/*CSS for part 3*/

.section-three {
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 32px;
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

/*CSS for part 4*/

.section-four {
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 5%;
    padding-top: 5%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #F9FAF8;
    color:#F9FAF8;
}

.signup-box {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    padding: 1% 4%;
    border-radius: 10px;
}

.signup-text {
    display:flex;
    padding-right:3%;
    flex-direction: column;
}

.button-end {
    display:flex;
    align-self: center;
    border-color: #F9FAF8;
    flex-wrap:nowrap;
    width:150px;
    justify-content: center;
}

/*CSS for footer*/

.footer {
    color:#F9FAF8;
    display:flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
}

.copy-info {
    size: 8px;
}